.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    padding: 50px 20px;
    background: #2d2013;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 60px;
}

.cart-container{
    position: sticky;
    top: 0;
    background: #302417;
    color: #fff;
}